<div *ngIf="!result">
  <div class="section mb-5 text-center">
    <div class="logo" [innerHtml]="config.logoHtml|safeHtml">
    </div>
    <h2 class="header" style="font-weight: 800" class="mb-0">{{config.title}}</h2>
    <p>{{config.summary}}</p>
    <hr class="mb-3">
    <div class="alert alert-warning text-left">Make sure to follow the installation instructions on the Auth0 OAuth
      marketplace extension page within Xano. You will need to get a client id and client secret from Auth0 and
      populate it within your Xano account.
      <br /><br />
      For this demo, you will need to populate the <strong>authorized redirect URI</strong> within your OAuth client ID
      with the following value:<br /><br /><strong>{{getRedirectURI()}}</strong>
      <br /><br />This value would change to your own hostname if you were using this extension within your own project.
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 col-xl-4 mt-3 text-center" (click)="continueOAuthAuth0()">
      <div><strong>Continue with Auth0</strong></div>
      <small>Sign up or Sign in</small>

      <div class="auth0-btn d-flex justify-content-between align-items-center">
        <div class="w-100 p-3">Continue with Auth0</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="result">
  <div *ngIf="mode == 'continue'" class="alert alert-success">
    <strong>CONGRATULATIONS!</strong> You are successfully logged in through Auth0 as <b>{{ result.name }}</b> using Xano as your backend.
  </div>
  <button type="button" class="btn btn-primary" (click)="logout()">logout</button>
</div>