:host {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px 20px 10px 10px;
  width: 400px;
  z-index: 100000000;

  .toast {
    max-width: initial;
  }

  .toast-header {
    padding: 1.25rem 0.75rem;
  }

  ::ng-deep .toast-body {
    display: none;
  }
}